
body{
    font-family: 'BPG Nateli';
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "BPG Nino Mtavruli Book", Helvetica, Arial, sans-serif;
    font-weight: 100;
}
.bpg_nino_nateli{
    font-family: 'BPG Nateli';
}

.bpg_nino_mtavruli_book{
    font-family: 'BPG Nino Mtavruli Book';
}

.bpg_nino_mtavruli{
    font-family: 'BPG Nino Mtavruli';
}

.rd-navbar-nav-wrap .bpg_nino_mtavruli li a{
    font-weight: 600;
    letter-spacing: 0.1em;
}



