/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSansRegular/PTSansRegular-ext.woff") format("woff");
}
/* font-family: "PTSansItalic"; */
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff");
    font-style: italic;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSansBold/PTSansBold-ext.woff") format("woff");
    font-weight: bold;
}

